
.icon-close:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */